---
name: Verify server Dockerfile and source code
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'server/**'
      - '.github/workflows/verify-server-side.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build binary
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.26'
          cache: false
      - name: go build
        run: go build -C server ./...

  golangci:
    name: Run golangci-lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.26'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          working-directory: server
          version: v2.10.1

  govulncheck_job:
    name: Run govulncheck
    runs-on: ubuntu-24.04
    steps:
      - name: Run govulncheck
        uses: golang/govulncheck-action@v1
        with:
          work-dir: server
          go-version-input: 1.26.0
          go-package: ./...

  docker:
    name: Verify Dockerfile
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: ./server
